@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);
$website-width: 550px;

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $cream;
  color: $very-dark-blue;
  display: grid;
  min-height: 100vh;
  place-content: center;
}

h3,
p {
  color: $dark-grayish-blue;
}

img {
  max-width: 100%;
}

.container {
  background: $white;
  max-width: $website-width;
  display: flex;
  flex-direction: row-reverse;

  .item {
    flex: 1 1 0px;
  }
}

.flex-image {
  img {
    height: 100%;
    object-fit: cover;
  }
}

.flex-content {

  padding: 1.5rem;

  header {

    h3 {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 3px;
      padding-bottom: 0.85rem;
    }

    h1 {
      font-family: 'Fraunces', serif;
      font-size: 2.2rem;
      font-weight: 700;
    }

  }

  article {
    p {
      padding-top: 1rem;
      font-size: 0.95rem;
      line-height: 1.7;
    }
  }

  .new-old {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0 2rem;

    .new {
      font-size: 2.1rem;
      font-family: 'Fraunces', serif;
      ;
      color: $dark-cyan;
    }

    .old {
      font-size: 0.85rem;
      margin-left: 17px;
      text-decoration: line-through;
    }

  }

  a {
    display: inline-block;
    padding: 1.3rem;
    border-radius: 10px;
    text-decoration: none;
    color: $white;
    background-color: $dark-cyan;
    width: 100%;
    text-align: center;
    position: relative;

    img {
      position: absolute;
      left: 50px;
    }

    &:hover{
      background:hsl(157, 56%, 19%);
    }

  }

}

footer {
  text-align: center;
}

// media queries
@import 'mobile';